body {
    background-color: black;
    color: white;
    background-image: url('fire.gif');
    background-repeat: repeat;
    background-position: center;

}

.img-size {
    width: 300px; /* set the width to 300 pixels */
    height: auto; /* automatically adjust the height to maintain aspect ratio */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
